
.tabla_panes{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.tabla_panes .tar_pan{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    overflow: hidden;
}


.tabla_panes .tar_pan .imgpan {
    position: relative;
    width: 100%;
    height: 260px;
    background-image: var(--img);
    background-size: 100%;
    background-position: center;
    transition: 1.5;
    
}


.tabla_panes .tar_pan .imgpan::before {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 60px;
    border-radius: 40px;
    background: #fff;
    transition: 0.5s;
}

.tabla_panes .tar_pan .imgpan::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 75px 70px 0 40px #fff; 
    transition: 0.5s;   
}


.tabla_panes .tar_pan .text_pan {
   position: relative;
   top: -40px;
   z-index: 10;
   padding: 0 30px;
   transition: 0.5s;
}


.tabla_panes .tar_pan .text_pan h3{
    position: relative;
    font-size: 1.25rem;
    color: #333;

}

.tabla_panes .tar_pan .text_pan span {
    position: absolute;
    bottom: -15px;
    font-weight: 400;
    font-size: 0.65rem;
    opacity: 0.75;
}

.tabla_panes .tar_pan .text_pan p {
    position: relative;
    opacity: 0;
    transition: 0.5s;
    color: #333;
}

.tabla_panes .tar_pan:hover .text_pan p {
    opacity: 1;
}
.tabla_panes .tar_pan:hover .text_pan {
    top: -80px;
}
.tabla_panes .tar_pan:hover .imgpan::before {
    height: 120px; /* Cambia la altura de ::before */
}

.tabla_panes .tar_pan:hover .imgpan::after {
    bottom: 80px;
}


table.tabla_panes td {
    width: 200px; /* Ancho de cada celda */
    height: 150px; /* Altura de cada celda */
}

