/* Contenedor principal de los tipos de panes */
.tabla_panes{
    position: relative;/* Posicionamiento relativo para posibles ajustes internos */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Tarjetas individuales de los tipos de pan */
.tabla_panes .tar_pan{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    transition: 0.5s;/* Transición suave en cambios de estilo */
    overflow: hidden;
}

/* Imagen dentro de cada tarjeta */
.tabla_panes .tar_pan .imgpan {
    position: relative;/* Posicionamiento relativo para ajustes internos */
    height: 200px;
    background-image: var(--img);/* Imagen dinámica a través de la variable CSS */
    background-size: cover;/* La imagen cubre completamente el área */
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5;
    
}


/*En los dos siguientes pinto la parte blanca de las etiquetas */

/* Elemento decorativo en la parte inferior de la imagen de las etiquetas de panes */
.tabla_panes .tar_pan .imgpan::before {
    content: "";/* Contenido vacío para crear un efecto decorativo */
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 80px;
    border-radius: 40px;
    background: #fff;
    transition: 0.5s;
}

/* Elemento decorativo en la parte superior de la imagen de las etiquetas de panes */
.tabla_panes .tar_pan .imgpan::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 75px 70px 0 40px #fff; 
    transition: 0.5s;   
}

/* Contenedor de texto en la tarjeta */
.tabla_panes .tar_pan .text_pan {
   position: relative;
   top: -30px;
   z-index: 10;
   padding: 0 30px;/* Asegura que esté encima de otros elementos */
   transition: 0.5s;
}

/* Estilo del título en la tarjeta */
.tabla_panes .tar_pan .text_pan h3{
    position: relative;
    font-size: 0,6em;
    color: #333;

}

/* Subtítulo decorativo en la tarjeta */
.tabla_panes .tar_pan .text_pan span {
    position: absolute;
    bottom: -15px;
    font-weight: 400;
    font-size: 0.65rem;
    opacity: 0.75;
}

/* Estilo del párrafo en la tarjeta */
.tabla_panes .tar_pan .text_pan p {
    margin-top: 2px;
    position: relative;
    opacity: 0;/* Hace invisible el párrafo */
    transition: 0.5s;
    color: #333;
    width: 150px;
    font-size: 13px;
}

/* Efecto hover para revelar el párrafo */
.tabla_panes .tar_pan:hover .text_pan p {
    opacity: 1;/* Hace visible el párrafo */
}

/* Movimiento del contenedor de texto al pasar el mouse */
.tabla_panes .tar_pan:hover .text_pan {
    top: -140px;
}

/* Expande el efecto decorativo en la imagen al pasar el mouse */
.tabla_panes .tar_pan:hover .imgpan::before {
    height: 180px; /* Cambia la altura de ::before */
}

/* Cambia la posición del círculo decorativo al pasar el mouse */
.tabla_panes .tar_pan:hover .imgpan::after {
    bottom: 140px;
}

/* Configuración general para una tabla específica */
table.tabla_panes td {
    width: 200px; /* Ancho de cada celda */
    height: 150px; /* Altura de cada celda */
}

/* Sección principal que agrupa los tipos de harina */
.fotos_des {
    width: 100%;
    height: 100vh; /* Asegúrate de que tenga suficiente espacio para ambos elementos */
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
    justify-content: space-between; /* Espaciado entre el título y las tarjetas */

}

/* Contenedor para las tarjetas de harina */
.container {
    height: auto; /* Permite que el contenedor se ajuste dinámicamente */
    display: flex;
    align-items: center; /* Centra verticalmente solo las tarjetas */
    justify-content: center; /* Centra horizontalmente las tarjetas */
    flex-wrap: nowrap;
    background: #223;
}

/* Estilos básicos para cada tarjeta de harina */
.harina {
    width: 140px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 20px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

/* Contenido interno de las tarjetas */
.harina > .tarjetas {
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
}

/* Icono dentro de cada tarjeta */
.harina > .tarjetas > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

/* Descripción de cada tipo de harina */
.harina > .tarjetas > .desc_harina {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 120px;
    width: 600px;
    border-top-left-radius: 40px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    background-color: rgba(240, 248, 255, 0.373);
}

/* Estilo para el texto en la descripción */
.desc_harina p {
    color: #000000;
    margin-left: 30px;
    padding-top: 5px;
    font-size: 20px;
}

/* Título dentro de la descripción */
.desc_harina h4 {
    margin-top: 10px;
    margin-left: 30px;
    text-transform: uppercase;/* Convierte el texto a mayúsculas */
    font-size: 30px;
}

/* Elementos interactivos ocultos inicialmente */
label{
    height: 80vh;
}

/* Estilos al activar los elementos ocultos */
.pasadas{
    display: none;
}

.pasadas:checked + label {
    width: 600px;
}

/* Para el Menu de las harinas */
.pasadas:checked + label .desc_harina {
    opacity: 1 !important;/* Muestra la descripción */
    transform: translateY(0) !important; /* Restaura la posición original */
}

/* Configuración de imágenes de fondo para cada tarjeta */
.harina[for="c1"] {
    background-image: url('/assets/ha1.jpg');
}
.harina[for="c2"] {
    background-image: url('/assets/ha2.jpg');
}
.harina[for="c3"] {
    background-image: url('/assets/ha3.jpg');
}
.harina[for="c4"] {
    background-image: url('/assets/ha4.jpg');
}
.harina[for="c5"] {
    background-image: url('/assets/ha5.jpg');
}
.harina[for="c6"] {
    background-image: url('/assets/ha6.jpg');
}


/* Título general de la sección */
.titulo_h {
    width: 100%;
    text-align: center;
    position: relative; /* Para permitir que el z-index funcione */
    z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
}

.titulo_h h1 {
    font-size: 4rem;
    color: #fff; /* Asegura buen contraste */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px;
}



/*Tablas*/
div.table-title {
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }

/* Da formato a las tablas de datos */
.tabla {
    margin-right: 30px;
    width: 100%;
    border-collapse: collapse;/* Elimina los espacios entre bordes de celdas */
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo compartido entre celdas de cabecera y cuerpo */
th, td {
    padding: 26px 20px;
    text-align: center;
}

/* Estilo específico para las celdas de la cabecera */
th {
    background-color: #d4bfa3; /* Marrón pastel para la cabecera */
    color: #6a4f3d; /* Texto marrón oscuro */
    font-weight: bold;
}

/* Estilo por defecto para las filas del cuerpo de la tabla */
tbody tr {
    background-color: #f4e1c1ca; /* Color de fondo suave para las filas */
}

/* Cambia el estilo cuando el usuario pasa el cursor sobre una fila */
tbody tr:hover {
    background-color: #6d3f03; /* Fondo marrón pastel */
    color: white; /* Cambia el color del texto cuando se pasa el cursor */
}

/* Contenedor del video */
.video-container {
    position: relative;
    height: 500px;
    width: 750px; /* Ajusta el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    border-radius: 15px; /* Bordes redondeados */

}

/* Estilo del video dentro del contenedor */
.video {
    position: absolute; /* Permite posicionar el video dentro del contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que ocupe todo el alto del contenedor */
    object-fit: cover;
    border-radius: 15px; /* Bordes redondeados en el video */
}

/* Contenedor de texto superpuesto sobre el video */
.video_texto {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    color: white; /* Asegura que el texto sea visible sobre el video */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado interno para el texto */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    position: absolute; /* Permite posicionar el video dentro del contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    height: 35%; /* Asegura que ocupe todo el alto del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    bottom: 0; /* Posiciona la sección en la parte inferior */
}

/* Espaciado adicional para el título de las harinas */
.titu_harina{
    margin-bottom: 40px;
}

/* Margen superior para los indicadores de harina */
.ind_harina{
    margin-top: 20px;
}